.car-container {
  text-align: center;
  border-style: solid;
  border-color: gray;
  border-radius: 10%;
}

.info-column {
  display: flex;
  flex-direction: column;
}

.cars-container {
  align-items: center;
}
