.info-column {
  display: flex;
  flex-direction: column;
}

.car-element {
  border: solid 1px;
}

.background-gray {
  background-color: gray;
}

.car-img-top {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 110%;
  margin-left: -5%;
  margin-top: -1%;
}

.car-item {
  border: solid 1px;
  border-radius: 10%;
  margin-left: 1%;
}

.filter-input-none {
  display: none;
}

.filter-input-block {
  display: block;
}
