.car-container {
  text-align: center;
}

.info-column {
  display: flex;
  flex-direction: column;
}

.car-container-data {
  align-items: center;
}

.car-element {
  border: solid 1px;
  border-radius: 20%;
}
