.car-container {
  text-align: center;
  border-style: solid;
  border-color: gray;
  border-radius: 10%;
}
.car-container::after {
  content: "Just testing components conections work";
}

.space-around {
  display: flex;
  justify-content: space-around;
}
