.home {
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-position-x: left;
}

.about-us {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.guide {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: left;
}

.guide b {
  color: rgb(0, 0, 0);
}

.recommended {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.search-zone {
  background-color: white;
  border-radius: 10% !important;
}

.white {
  color: white;
}

.quote {
  font-size: large;
  font-style: italic;
  color: blue;
}

.contact-info {
  background-color: rgb(157, 162, 167);
}

.small-container {
  background-color: white;
  border-radius: 20%;
}

.carousel-icons {
  width: 50%;
  height: 30%;
}

.footer {
  color: white;
  background-color: rgba(11, 98, 185, 255);
}
