.home {
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./homebase-tablet.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us {
  margin-bottom: 5%;
}

.guide {
  text-align: left;
}

.guide b {
  color: rgb(0, 0, 0);
}

.white {
  color: white;
}

.quote {
  font-size: large;
  font-style: italic;
  color: gray;
}
.quote-blue {
  font-size: large;
  font-style: italic;
  color: blue;
}

.contact {
  background-color: rgba(27, 27, 27, 0.527);
  color: white;
}
.contact .data {
  color: aqua;
}
